html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}
.main-header{
    background-color: rgba(0, 0, 0, .3);
    background-image: url("Image/IMG_20191102_014958_542.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}